html {
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

element.style{
    flex-grow: 1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}


.d-flex{
    display: flex;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.header {
    background-color: rgb(233, 217, 0);
    padding: 20px 0;
    border-bottom: 5px solid rgb(24, 66, 45);
    position: sticky;
    top: 0;
    z-index: 1;
}

.faculty{
    margin-left: 100px;
    font-size: 400%;
    margin-top: 0;
}

.flex-wrapper {
    display: flex;
}

.pic {
    text-align: center;
}

.profile {
    margin-left: auto;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 125%;
    margin-top: auto;
}


.navigation li {
    display: inline;
    margin-right: 30px;
    margin-top: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a, .profile a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.info {
    margin-left: 50px;
    margin-right: 50px;;
}

.sidebar {
    width: 250px;
    padding: 20px 20px 20px 0;
    position: sticky;
    top: 68px;
    flex-shrink: 0;
}

.sidebar-header {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.sidebar-section {
    margin-bottom: 20px;
}

.sidebar-section:last-child {
    margin-bottom: 0;
}

.page-content {
    padding: 20px;
}

.products-category-header {
    margin-top: 0;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card {
    height: 350px;
    width: 500px;
    border: 2px solid rgb(24, 66, 45);
    background-color: rgb(233, 217, 0);
    border-radius: 5px;
    display: flex;
}

.product-image {
    flex-basis: 50%;
    overflow: hidden;
}

.product-image img {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.product-details {
    flex-basis: 50%;
    padding: 20px;
}


.product-details header {
    font-weight: bold;
    font-size: 1.2rem;
}

.product-details .information {
    text-align: justify;
    height: 65%;
    overflow: hidden;
    font-size: 0.9rem;
}

.control {
    text-align: center;
}

.product-details .btn {
    background-color: #0885c6;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
}

.product-details .btn span {
    padding: 10px 20px;
    display: inline-block;
    font-size: 0.7rem;
}

.product-details .btn .price {
    background-color: rgb(51, 51, 51);
}

.product-details .btn .buy {
    font-weight: bold;
}

.footer {
    border-top: 5px solid rgb(24, 66, 45);
    background-color: rgb(233, 217, 0);
    padding: 20px 0;
    margin-top: auto;
}

@media (max-width: 768px){
    .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .navigation ul li{
        padding: 5px;
    }
    .profile{
        margin-left: 0;
    }
    .header{
        position: static;
    }
    .flex-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .sidebar{
        position: static;
    }
    .product-card{
        flex-direction: column;
        height: auto;
        width: 95%;
        max-width: 350px;
        }
        .products-list{
            justify-content: center;
        }
        .products-details .information{
            height: auto;
        }

        .product-image img {
            width: 100%;
            height: auto;
        }
}