body {
    background-color: #AD66D5;
} 

main {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.bl1 {
    background-color: #FFFF73;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    float: left;
    margin:100px 40px 20px 450px;
}

.bl2 {
    background-color: #FFFF73;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    float: left;
    margin:100px 40px 20px 50px;
}

img {
    height: 79%;
    width: 100%;
}

footer {
    background-color: #FFFF73;
    padding: 20px 0;
    margin-top: auto;
}